{% extends "XmonteroEmperorsAdminBundle:Layout:layout.html.twig" %}

{% block page %}
	<h1>Board editor</h1>
	{% include "XmonteroEmperorsAdminBundle:Widgets/BoardEditor:editor.html.twig" %}
	<div>
	SOURCE:
		<div>
			{{ board.saveToJson() }}
		</div>
	</div>
{% endblock %}
