{% extends "XmonteroEmperorsLayoutBundle:Pages:main.html.twig" %}

{% block header %}
	{{ parent() }}
	<div id="adminHeader">
		Admin:
		  <a href="{{ path( 'XmonteroEmperorsAdminBundle_dashboard' ) }}">Dashboard</a>
		| <a href="{{ path( 'XmonteroEmperorsAdminBundle_users' ) }}">Users</a>
	</div>
{% endblock %}
