<table>
	{% for header in table.headers %}
		<tr>
			{% for headerCell in header.cells %}
				<th>{{ headerCell.value }}</th>
			{% endfor %}
		</tr>
	{% endfor %}
	{% for row in table.dataRows %}
		<tr>
			{% for dataCell in row.cells %}
				{% include "XmonteroEmperorsLayoutBundle:Widgets/Table:tableCell.html.twig" %}
			{% endfor %}
		</tr>
	{% endfor %}
</table>
