<div class="board">
	{% set height = board.height %}
	{% set width = board.width %}
	{% for y in 0..height %}
		<div class="tileRow">
			{% for x in 0..width %}
				{% set tile = board.getTileOld( x, y ) %}
				{% include "XmonteroEmperorsClientBundle:Widgets/Board:tile.html.twig" %}
			{% endfor %}
		</div>
	{% endfor %}
</div>
