<div class="board">
	{% set height = board.height %}
	{% set width = board.width %}
	
	<div class="tileRow">
	
		{# Origin #}
		<div class="tile origin"></div>
		
		{# Horizontal ruler #}
		{% for x in 1..width %}
			<div class="tile top-header">
				<div class="content">
					{{ board.getColumnId( x ) }}
				</div>
			</div>
		{% endfor %}
		
	</div>
	
	{# Rows with data #}
	
	{% for y in 1..height %}
		<div class="tileRow">
			
			{# Vertical ruler #}
			<div class="tile top-header">
				<div class="content">
					{{ board.getRowId( y ) }}
				</div>
			</div>
			
			{# Data #}
			
			{% for x in 1..width %}
				{% set tile = board.getTile( x, y ) %}
				{% include "XmonteroEmperorsClientBundle:Widgets/Board:tile.html.twig" with { "tile": tile } %}
			{% endfor %}
		</div>
	{% endfor %}
</div>
