<div class="inset">
	<div class="tileName">
		Click a tile to see the details.
	</div>
	<br />
	<div class="tileDescription">
		<table>
			<tr><th>a</th><th>b</th></tr>
			<tr><td>c</td><td>d</td></tr>
			<tr><td>e</td><td>f</td></tr>
		</table>
	</div>
	<br />
	<div class="pieceActions">
		There are no pieces to act on.
	</div>
</div>
