{% if tile.propertyExists( 'class' ) %}
	{% set class = tile.property( 'class' ) %}
{% else %}
	{% set class = tile.onBoard ? 'free' : 'border' %}
{% endif %}

<div class="tile {{ class }}">
	<div class="content">
		{% if tile.propertyExists( 'text' ) %}
			{{ tile.property( 'text' ) }}
		{% endif %}
	</div>
</div>
