<div class="module">
	<div class="title">
		Games
	</div>
	<div class="content">
		<table border=1>
			<th>Partida</th><th>Iniciada</th><th>Jugadores Totales</th><th>Jugadores vivos</th>
			{% for game in games %}
				{% include "XmonteroEmperorsClientBundle:Widgets:gameListGame.html.twig" %}
			{% endfor %}
		</table>
	</div>
</div>