<html>
	<head>
		<title>Emperors of the Dynasty - The game!</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>EMPERORS OF THE DYNASTY</h1>
		<h2>Resumen rápido</h2>
		<p>
			<b>Emperors of the Dynasty</b> es un juego multijugador, donde diferentes Dinastías se retan en campos de batalla para jugarse su reputación y su riqueza.
		</p>
		<p>
			Cada <b>jugador</b> controla exactamente una Dinastía, que le servirá a lo largo de todas sus partidas. Una Dinastía está formada por varios Emperadores. La reputación de la Dinastía es la suma de las reputaciones de todos sus Emperadores.
		</p>
		<p>
			El <b>objetivo</b> del juego es maximizar la reputación de la Dinastía.
		</p>
		<p>
			El documento original está en inglés, pero lo he pasado por el google translator para facilitar la cosa a los que el inglés no es vuestro fuerte. Un día tendremos una traducción oficial. Mientras, googletranslator es nuestro amigo.
		</p>
		<ul>
			<li><a href="readme_google_translator.html">Traducción guarra de google-translator - Al menos se entiende algo (hasta que alguien me ayude a hacer una traducción oficial heh)</a></li>
			Los gráficos se han roto, aquí está el <a href="https://github.com/xmontero/emperors-of-the-dynasty" target="_blank">doc original.</a>
		</ul>
		<h2>Primera partida de la historia</h2>
		<p>Como aún no he escrito el juego para ordena y móvil, la primera partida será "manual", organizada en FaceBook en este grupo: <a href="https://www.facebook.com/groups/1472958162921109/" target="_blank">Emperors of the Dynasty - The Game!</a>
		<h2>Jugadores registrados para la primera partida</h2>
		<h3>Controlando Emperadores</h3>
		<table border=1>
			<tr><th>#</th><th>Inscripción</th><th>Jugador Emperador</th></tr>
			<tr><td>1</td><td>20-abr-2014 20:57:00 CET</td><td><a target="_blank" href="https://www.facebook.com/MarinaPlanellsCuasch">Marina</a></td></tr>
			<tr><td>2</td><td>20-abr-2014 21:22:00 CET</td><td><a target="_blank" href="https://www.facebook.com/michelle.roa1">Michelle</a></td></tr>
			<tr><td>3</td><td>20-abr-2014 21:41:00 CET</td><td><a target="_blank" href="https://www.facebook.com/albert.escofetmata">Albert</a></td></tr>
			<tr><td>4</td><td>20-abr-2014 22:17:00 CET</td><td><a target="_blank" href="https://www.facebook.com/athus.deria">Erick</a></td></tr>
			<tr><td>5</td><td>21-abr-2014 00:22:00 CET</td><td><a target="_blank" href="https://www.facebook.com/krlos.gayoso">Carlos</a></td></tr>
			<tr><td>6</td><td>21-abr-2014 01:28:55 CET</td><td><a target="_blank" href="https://www.facebook.com/nrikeg">Luis</a></td></tr>
			<tr><td>7</td><td>21-abr-2014 01:29:05 CET</td><td><a target="_blank" href="https://www.facebook.com/J4v13r.G">Javier</a></td></tr>
			<tr><td>8</td><td>21-abr-2014 01:29:15 CET</td><td><a target="_blank" href="https://www.facebook.com/alex.escofet.3">Alex</a></td></tr>
		</table>
		<h3>Controlando Peones</h3>
		<table border=1>
			<tr><th>#</th><th>Inscripción</th><th>Jugador Peón</th></tr>
			<tr><td>1</td><td>21-abr-2014 01:29:25 CET</td><td><a target="_blank" href="https://www.facebook.com/david.m.olmos">David</a></td></tr>
			<tr><td>2</td><td>21-abr-2014 02:09:00 CET</td><td><a target="_blank" href="https://www.facebook.com/lau.montero.54">Laura</a></td></tr>
			<tr><td>3</td><td>21-abr-2014 10:04:00 CET</td><td><a target="_blank" href="https://www.facebook.com/marcel.labordasolsona">Marcel</a></td></tr>
			<tr><td>4</td><td>21-abr-2014 15:27:00 CET</td><td><a target="_blank" href="https://www.facebook.com/erwin.vera.1">Erwin</a></td></tr>
			<tr><td>5</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>6</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>7</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>8</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>9</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>10</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>11</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>12</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>13</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>14</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>15</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>16</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>17</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>18</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>19</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>20</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>21</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>22</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>23</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>24</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>25</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>26</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>27</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>28</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>29</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>30</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>31</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
			<tr><td>32</td><td>-disponible-</td><td><a target="_blank" href="https://www.facebook.com/groups/1472958162921109/permalink/1473019182915007/?stream_ref=2">Apuntarse aquí</a></td></tr>
		</table>
	</body>
</html>
