{% extends "XmonteroEmperorsClientBundle:Layout:layout.html.twig" %}

{% block page %}
	<h2>¿Qué es Emperors of the Dynasty?</h2>
	<p>
		<b>Emperors of the Dynasty</b> es un juego multijugador, donde diferentes Dinastías se retan en campos de batalla para jugarse su reputación y su riqueza.
	</p>
	<p>
		Cada <b>jugador</b> controla exactamente una Dinastía, que le servirá a lo largo de todas sus partidas. Una Dinastía está formada por varios Emperadores. La reputación de la Dinastía es la suma de las reputaciones de todos sus Emperadores.
	</p>
	<p>
		El <b>objetivo</b> del juego es maximizar la reputación de la Dinastía.
	</p>
	<p>
		El documento original está en inglés, pero lo he pasado por el google translator para facilitar la cosa a los que el inglés no es vuestro fuerte. Un día tendremos una traducción oficial. Mientras, googletranslator es nuestro amigo.
	</p>
	<ul>
		<li><a href="/readme_google_translator.html">Traducción guarra de google-translator - Al menos se entiende algo (hasta que alguien me ayude a hacer una traducción oficial heh)</a></li>
		Los gráficos se han roto, aquí está el <a href="https://github.com/xmontero/emperors-of-the-dynasty" target="_blank">doc original.</a>
	</ul>
	<h2>Selecciona una partida</h2>
	{% include "XmonteroEmperorsClientBundle:Widgets:gameList.html.twig" with { "games": games } %}
{% endblock %}
