{% extends "XmonteroEmperorsClientBundle:Layout:layout.html.twig" %}

{% block page %}
	<h2>Privacy</h2>
	<div class="inset">
		<ul>
			<li>This game is run by an individual, Xavier Montero Amoros, based in Spain, as a hobby and for the sole reason of the pleasure of playing and learning together. No commercial intentions are hidden behind this game.

			<li>I have no intention in using your data for any commercial usage. All your data will only be used for helping you develop inside the game.

			<li>The data that I store in my server for the game corresponds to that data you already made public in your profile, plus your email, birthdate, location, and similar basic contact info. I don't store any information coming from the social networks that could represent secret data or passwords. 

			<li>By using the site, the game or participating, you agree with those terms.

			<li>I reserve the rights to change this policy, which always will be posted public. Upon any change you do not like, you shall notify me at emperorsofthedynasty@gmail.com
		</ul>
	</div>
	Version 1.0.1<br>
	Published 8-may-2014
	
{% endblock %}
