{% extends "XmonteroEmperorsAdminBundle:Layout:layout.html.twig" %}

{% block page %}
	<h1>Dashboard</h1>
	{% include "XmonteroEmperorsAdminBundle:Widgets/Dashboard:games.html.twig" %}
{% endblock %}
