{% extends "XmonteroEmperorsClientBundle:Layout:layout.html.twig" %}

{% block page %}
	<h2>Este es el tablero de la primera partida</h2>
<pre>
    1   2   3   4   5   6   7   8   9  10  11  12  13  14  
  +   +   +   +   +---+   +   +   +   +---+   +   +   +   +
A                 |E1 |               |E2 |                
  +   +---+---+---+---+---+---+---+---+---+---+---+---+   +
B     |   |   |P11|P12|P13|   |   |P21|P22|P23|   |   |    
  +   +---+---+---+---+---+---+---+---+---+---+---+---+   +
C     |   |   |   |P14|   |   |   |   |P24|   |   |   |    
  +   +---+---+---+---+---+---+---+---+---+---+---+---+   +
D     |P81|   |   |   |   |   |   |   |   |   |   |P31|    
  +---+---+---+---+---+---+---+---+---+---+---+---+---+---+
E |E8 |P82|P83|   |   |   |   |   |   |   |   |P32|P33|E3 |
  +---+---+---+---+---+---+---+---+---+---+---+---+---+---+
F     |P84|   |   |   |C-A|   |   |C-B|   |   |   |P34|    
  +   +---+---+---+---+---+---+---+---+---+---+---+---+   +
G     |   |   |   |   |   |   |   |   |   |   |   |   |    
  +   +---+---+---+---+---+---+---+---+---+---+---+---+   +
H     |   |   |   |   |   |   |   |   |   |   |   |   |    
  +   +---+---+---+---+---+---+---+---+---+---+---+---+   +
I     |P71|   |   |   |C-C|   |   |C-D|   |   |   |P41|    
  +---+---+---+---+---+---+---+---+---+---+---+---+---+---+
J |E7 |P72|P73|   |   |   |   |   |   |   |   |P42|P43|E4 |
  +---+---+---+---+---+---+---+---+---+---+---+---+---+---+
K     |P74|   |   |   |   |   |   |   |   |   |   |P44|    
  +   +---+---+---+---+---+---+---+---+---+---+---+---+   +
L     |   |   |   |P61|   |   |   |   |P51|   |   |   |    
  +   +---+---+---+---+---+---+---+---+---+---+---+---+   +
M     |   |   |P62|P63|P64|   |   |P52|P53|P54|   |   |    
  +   +---+---+---+---+---+---+---+---+---+---+---+---+   +
N                 |E6 |               |E5 |                
  +   +   +   +   +---+   +   +   +   +---+   +   +   +   +
</pre>
<ul>
<li>E = Emperador. El número representa la Dinastía. Por ejemplo E5 es el Emperador de la Dinastía 5.
<li>P = Peón. El primer número es la Dinastía, el segundo el número de peón dentro de esa formación. Por ejemplo P32 es el 2º peón de la Dinastía 3.
<li>C = Cofre del tesoro
</ul>
{% endblock %}
