{% extends "XmonteroEmperorsClientBundle:Layout:layout.html.twig" %}

{% block page %}
	<h2>Este es el tablero de la primera partida</h2>
	<style>
table.board
{
	border: 1px solid gray;
}

table.board td
{
	width: 32px;
	height: 32px;
	overflow: hidden;
	text-align: center;
}

td.origin
{
	background: white;
}

td.border
{
	background: #658060;
}

td.top-header,
td.left-header
{
	background: #DDDDDD;
}

td.free
{
	background: #93C18B;
}

td.emperor-1,
td.pawn-1
{
	background: #FF7D7D;
}

td.emperor-2,
td.pawn-2
{
	background: #FFBD7D;
}

td.emperor-3,
td.pawn-3
{
	background: #FDFF7D;
}

td.emperor-4,
td.pawn-4
{
	background: #BDFF7D;
}

td.emperor-5,
td.pawn-5
{
	background: #7DFFD6;
}

td.emperor-6,
td.pawn-6
{
	background: #7DBDFF;
}

td.emperor-7,
td.pawn-7
{
	background: #927DFF;
}

td.emperor-8,
td.pawn-8
{
	background: #FF7DD3;
}

td.special
{
	color: red;
}

td.chest-1,
td.chest-2,
td.chest-3,
td.chest-4
{
	background: #BDA75A;
}
	</style>
	<table class="board">
	{% set board = game.board %}
	{% set numberOfRows = board.numberOfRows %}
	{% set numberOfColumns = board.numberOfColumns %}
	{% for y in 0..numberOfRows %}
		<tr>
		{% for x in 0..numberOfColumns %}
			{% set tile = board.getTile( x, y ) %}
			<td class="{{ tile.class }}">
				{{ tile.content }}
			</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
<ul>
<li>E = Emperador. El número representa la Dinastía. Por ejemplo E5 es el Emperador de la Dinastía 5.
<li>P = Peón. El primer número es la Dinastía, el segundo el número de peón dentro de esa formación. Por ejemplo P32 es el 2º peón de la Dinastía 3.
<li style="color: red;">Peón rojo: Ha cambiado de peonero en este turno. Aún no he tenido tiempo de cambiar el programa para que refleje los nuevos nombres. Ver en Facebook.</li>
<li>C = Cofre del tesoro
</ul>
{% endblock %}
