{% extends "XmonteroEmperorsClientBundle:Layout:layout.html.twig" %}

{% block page %}
	<h2>Este es el tablero de la primera partida</h2>
	<h3 style="color:red;">No actualizado a turno 4 todavía</h3>
	<table class="board">
	{% set board = game.board( turn ) %}
	{% set numberOfRows = board.numberOfRows %}
	{% set numberOfColumns = board.numberOfColumns %}
	{% for y in 0..numberOfRows %}
		<tr>
		{% for x in 0..numberOfColumns %}
			{% set tile = board.getTile( x, y ) %}
			<td class="{{ tile.class }}">
				{{ tile.content }}
			</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>
<ul>
<li>E = Emperador. El número representa la Dinastía. Por ejemplo E5 es el Emperador de la Dinastía 5.
<li>P = Peón. El primer número es la Dinastía, el segundo el número de peón dentro de esa formación. Por ejemplo P32 es el 2º peón de la Dinastía 3.
<li style="color: red;">Peón rojo: Ha cambiado de peonero en este turno. Aún no he tenido tiempo de cambiar el programa para que refleje los nuevos nombres. Ver en Facebook.</li>
<li>C = Cofre del tesoro
</ul>
{% endblock %}
