{% extends "XmonteroEmperorsClientBundle:Layout:layout.html.twig" %}

{% block page %}
	
	<h2>Instrucciones emperadores</h2>
	Lee esto si en la partida controlas un emperador.
	<h3>Introducción</h3>
	<ul>
		<li>Has oído que pronto se celebra un torneo en el que se puede ganar muuucho dinero para tu Dinastía.
		<li>Necesitas algo de inversión para poder participar y, aunque no tienes ni una moneda, te animas a participar.
		<li>Para ello te endeudarás, pagarás jornales a peones que trabajarán para ti, y en el campo de batalla tratarás de dejar sin blanca a los otros emperadores quedándote con su dinero, y luego haciéndoles AGONIZAR o MATÁNDOLOS para que no te puedan quitar de nuevo lo que conseguiste.
	</ul>
	<h3>Estado actual</h3>
	En este momento tienes:
	<ul>
		<li>Una Dinastía con 0 de riqueza.
		<li>Un Emperador con 0 de reputación.
		<li>Ningún soldado.
		<li>Un amigo te deja 10.000 monedas de cobre para que puedas meterte en esta aventura. Tendrás que devolverle 11.000 por el interés.
	</ul>
	<h3>Inicio de partida</h3>
	Esta partida es "por avaricia" y consiste en lo siguiente:
	<ul>
		<li>Cada uno de las 8 dinastías participantes pondrán escondidos en 4 cofres un total de 40.000 monedas de bronce (pondrá 5.000 monedas cada una).
		<li>Cada dinastía repartirá el dinero como quiera, de modo que los cofres tendrán cantidades distintas. Nadie sabrá cuánto hay ahí (salvo que algún peón ttttrrraaaiiiddooooorrr se chive por Facebook al bando contrario).
		<li>Durante la partida, tendrás que robar los cofres para ganar riqueza. Si consigues los 4 cofres, tendrás 40.000 monedas. Buena inversión si pusiste 5 y sacas 40!!! Y encima dejas a los demás pelados!!!
		<li>En esta partida, empezarás con los 10.000 que te deja tu amigo. De este dinero, 5.000 irá a los cofres. El resto te servirá para pagar un salario a los peones. Pagarás un jornal de 100 monedas a cada peón a cada turno, salvo que pactes otra cosa.
	</ul>
	<h3>Final de partida</h3>
	<ul>
		<li>La partida se acaba cuando seas el único emperador que queda en pie.
		<li>Los otros emperadores, para ser derrotados tienen que estar AGONIZANDO o MUERTOS.
		<li>Estos estados de vida de un Emperador:
		<ul>
			<li>Vida completa: Sano
			<li>3/4 de vida: Dañado
			<li>1/2 vida: Sufriendo
			<li>1/4 de vida: AGONIZANDOOO!!!!
			<li>Sin vida: MUERTOOOOOO!!!!
		</ul>
		<li>Si transcurridos 28 días reales (viernes 23 de mayo de 2014), no hay un único vencedor, decidiremos conjuntamente si finalizar la partida o continuarla mediante algún sistema que ya me inventaré.
	</ul>
	<h3>Movimientos</h3>
	<ul>
		<li>Te puedes mover en línea recta tantas casillas como experiencia tenga tu Emperador. Te puedes mover menos si lo deseas. Por ejemplo si tienes experiencia 4, te puedes mover 1, 2, 3 ó 4 casillas.
		<li>La experiencia de tu emperador es el máximo de la experiencia de tus peones (por ejemplo, si tienes cuatro peones, con experiencias [ 1, 2, 7, 3 ], tu experiencia será de 7).
		<li>Los peones cambian su experiencia con el paso del tiempo (ver instrucciones para peones para ver cómo).
		<li>Cuando estés "bloqueado" te moverás más lentamente o no te podrás mover.
	</ul>
	<h3>Bloqueo</h3>
	<ul>
		<li>Estarás bloqueado cuando sólo tengas una salida posible porque estés rodeado de otras fichas de contrarios, como en el siguiente gráfico.
		<li>Cuando estés bloqueado, a tu experiencia le restarás la experiencia de tus bloqueadores.
<pre>
  |   |   |   |
--+---+---+---+--
  |   | <span style="color:green">P1</span>|   |
--+---+---+---+--
  | <span style="color:blue">P1</span>| <span style="color:red">E7</span>--->|
--+---+---+---+--
  |   | <span style="color:blue">P2</span>|   |
--+---+---+---+--
  |   |   |   |
</pre>
		<li>Por ejemplo en este caso, imagina que eres el Emperador rojo y tienes de experiencia 7. Estás rodeado por arriba, izquierda y derecha por tres peones, algunos verdes y otros azules, de experiencias 1, 1 y 2 (es decir entre los tres que te acorralan suman una experiencia de 4). En este caso en vez de poderte mover 7 casillas sólo podrías moverte 3 y únicamente a la derecha, ya que 7 - 4 = 3.
<pre>
  |   |   |   |
--+---+---+---+--
  |   | <span style="color:green">P1</span>|   |
--+---+---+---+--
  | <span style="color:blue">P1</span>| <span style="color:red">E7</span>--->|
--+---+-|-+---+--
  |   | v |   |
--+---+---+---+--
  |   |   |   |
</pre>
		<li>En cambio en este otro caso no hay bloqueo porque tienes varias escapatorias. Así pues, te podrías ir por la derecha o por abajo hasta 7 casillas, y no 5 porque al no haber bloqueo no se hace ninguna resta.
	</ul>
	
	<h2>Quizás también te guste:</h2>
	<ul>
		<li><a href="{{ path( 'XmonteroEmperorsClientBundle_instructionsPawns' ) }}">Instrucciones para peones.</a>
		<li><a href="{{ path( 'XmonteroEmperorsClientBundle_instructionsGame' ) }}">Indicaciones para todos.</a>
	</ul>
	
{% endblock %}
