{% extends "XmonteroEmperorsClientBundle:Layout:layout.html.twig" %}

{% block page %}
	
	<h2>Instrucciones generales</h2>
	Lee esto si en la partida controlas un emperador o un peón.
	<ul>
		<li>T
	</ul>
	
{% endblock %}
