{% extends "XmonteroEmperorsClientBundle:Layout:layout.html.twig" %}

{% block page %}
	
	<h2>Instrucciones peones</h2>
	Lee esto si en la partida controlas un peón.
	<div class="inset">
		<h3>Introducción</h3>
		<ul>
			<li>En esta partida, intentarás ganar riqueza para tu Dinastía.
			<li>Para ello prestarás soldados de tu ejército a otro Emperador, y te pagarán un jornal por robar tesoros y hacer AGONIZAR y MATAR a otros Emperadores.
			<li>Pero ¡cuidado! Si uno de tus peones es capturado, tu peón trabajará para otra Dinastía mientras los peones no capturados aún trabajan para el anterior jefe. ¿Serás capaz de trabajar para dos Dinastías a la vez sin traicionar a ninguna? ¿Matarías a uno de tus propios jefes por dinero?
		</ul>
		<h3>Final de partida</h3>
		<ul>
			<li>La partida se acaba cuando seas el único emperador que queda en pie.
			<li>Los otros emperadores, para ser derrotados tienen que estar AGONIZANDO o MUERTOS.
			<li>Estos estados de vida de un Emperador:
			<ul>
				<li>Vida completa: Sano
				<li>3/4 de vida: Dañado
				<li>1/2 vida: Sufriendo
				<li>1/4 de vida: AGONIZANDOOO!!!!
				<li>Sin vida: MUERTOOOOOO!!!!
			</ul>
		</ul>
	</div>
	
	<h2>Quizás también te guste:</h2>
	<ul>
		<li><a href="{{ path( 'XmonteroEmperorsClientBundle_instructionsEmperors' ) }}">Instrucciones para emperadores.</a>
		<li><a href="{{ path( 'XmonteroEmperorsClientBundle_instructionsGame' ) }}">Indicaciones para todos.</a>
	</ul>
	
{% endblock %}
